doctype html
html(lang='en')
 head
   title User Info
 body
   h1 User Information
   div.container
     p UserID: #{id}
     p Name: #{name}
     p Date of Birth: #{dob}
     p Gender: #{gender}
     p Place of Birth: #{pob}
     p Ethnicity: #{ethnicity}
     p Phone Number: #{phnNumber}
     p Address: #{address}
     p Email ID: #{emailId}
